<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Profile</title>
  <%- include("partials/head") %>
</head>
<body>

  <%- include("partials/navigation") %>
  
  <div class="conatiner p-4">
    <div class="row" id="contentDesc">
      <div class="col-md-4" id="contImg">
          <img src="<%= image.path %>" alt="" id="imgProfile" class="card-img-top">
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <h5 class="card-title">
            <%= image.title %>
          </h5>
          <p class="card-text">
            <%= image.description %>
          </p>
          <div class="card-text" id="time">
            <%= format(image.create_at) %>
          </div>
          <a href="/image/<%= image._id %>/delete" class="btn btn-danger btn-block">
            Delete Image
          </a>
        </div>
      </div>
    </div>
  </div>


  <%- include("partials/bts") %>
</body>
</html>